* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.lldd{
    width: 100px;
}
.lds-roller {
    border-radius: 39px;
background: #e0e0e0;
box-shadow:  -15px 15px 33px #c5c5c5,
             15px -15px 33px #fbfbfb;
    z-index: 999;
    position: absolute;
    width: 250px;
    border-radius: 20px;
    filter: blur(0px);
    height: 220px;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: inline-block;
    color: black;
    background-color: rgba(255, 255, 255, 0.781); /* Orqa fon rangi va transparensiyasi */
  }
  
  .eerr{
    text-align: center !important;
    align-items: center !important;
    justify-content: center !important;
    margin: 0 auto;
    width: 80px;
    margin-bottom: 5px;
  }
  .salomdiv {
    font-size: 1.1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    text-align: center;
  }